:root {
  --charcoal: #282c34;
  --ocean-blue: #61dafb;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--charcoal);
}

.code-block {
  padding: 20px;
}


 /*Banner styling */
.banner {
  font-size: 20px;
  text-align: center;
  padding: 2rem 1rem;
  color: var(--white);
  margin-bottom: 20px;
}

.title {
  color: var(--ocean-blue);
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}
.SiteName {
   text-align: center;
}
p{
  margin:0px;
  font-size: 15px;
}


/* NavBAR styling */
.container
{
  justify-content: space-between;
  padding: 20px;
  background-color: #61dafb;
}

.nav-link{
  background-color: #61dafb;
  padding: 20px;
}
#CartId
{ 
    float:right;
    top:0px;
}
.nav-link-cart
{
  background-color: #61dafb;
  padding: 20px;
  padding-top: 0;
}

/* Books cards styling */
section{
  width:80%;
  margin:auto;
  margin-top: 5%;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}
.cards{
  width:250px;
  padding:20px;
}
.cards.hover{
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  cursor:pointer;
}
.details
{
  color: var(--ocean-blue);
  padding: 10px;
}
.image_box img
{
  /* display: flex;
  padding: 10px; */
  width:150px;
  height:200px;
}
.details p:nth-child(1){
    font-weight: bold;
    font-size:large;
    padding-bottom: 5px;
}
.details p:nth-child(2){
    font-weight: 100;
    color: rgb(159, 184, 193);
}
.details p:nth-child(3){
  padding-top: 10px;
  padding-bottom:10px;
  font-weight: bolder;
  font-size:large;
}
.details button{
  padding:5px 10px;
  border:none;
  font-weight:bold;
  background-color: skyblue;
  outline: none;
  border-radius: 2px;
}

/* Cart styling */
.nav-link-cart{
  position: relative;
}

.cart-count{
  color: red;
  font-weight: bolder;
  font-size: 1.5rem;
  position: absolute;
  bottom:75%;
  left:60%;
  padding: 10px;
  
}
/* Warning for Cart styling */
.warning{
  background-color:rgb(17, 1, 73);
  font-size: 0.75rem;
  font-family: cursive;
  padding:5px;
  border-radius: 5px;
  height: 40px;
  width:135px;
  position:absolute;
  right:0;
  top:10%;
  color:white;
}
